@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(120deg, #0fa3b1 0%, #4361ee 50%, #7209b7 100%);
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
    animation: intro 1s ease-in-out;
}

#formulario {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 15px;
    overflow: hidden;

    width: 85vw;
    min-width: 315px;
    max-width: 370px;

    height: 550px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.185);
}

#image {
    background: url(../images/welcome-image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 30%;
}

#login {
    padding: 10px;
}

#login h1 {
    color: #4361ee;
    font-size: 2em;
    text-align: center;
    font-weight: 700;
}

#login p {
    color: rgb(95, 95, 95);
    text-align: justify;
    font-size: 1em;
    font-weight: 400;
    margin: 10px 0;
    padding: 5px;
}

.input-area {
    display: flex;
    align-items: center;
    justify-content: start;
    background-image: linear-gradient(120deg, #0fa3b1 0%, #4361ee 50%, #7209b7 100%);
    padding: 5px 7px;
    margin: 10px 0;
    border-radius: 5px;
}

.input-area input {
    width: 100%;
    height: 30px;
    border: none;
    background-color: white;
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 5px;
    color: rgb(95, 95, 95);
    font-size: 1em;
    font-weight: 500;
    outline: none;
}

.input-area input::placeholder {
    color: gray;
}

.input-area .material-symbols-outlined {
    color: white;
    margin-top: 7px;
}

#btn-area button {
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn-area .material-symbols-outlined{
    margin-left: 5px;
}

#btn-area input, a {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s;
}

#btn-area .btn-t1{
    background-color: #4361ee;
    border: none;
    color: white;
}

#btn-area .btn-t1:hover {
    background-color: #7209b7;
}

#btn-area .btn-t2{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 600;
    background-color: transparent;
    border: 2px solid #4361ee;
    color: #4361ee;
}

#btn-area .btn-t2:hover {
    background-color: #7209b7;
    border-color: #7209b7;
    color: white;
}

@keyframes intro {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 100%;
        transform: translateY(0);
    }
}